/*
		CSS PAGINA INICIAL
*/
.divLogo{
	float: left;
	width: 100%;
	height: 30%;
	position: static;
}
.divEspaco{
	width: 100%;
	height: 4%;
}
.imgLogo{
	width: 80%;
}
.camposLogin{
	font-size: 4rem;
	width: 70%;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid #FFF;
	background-color: #FDB92E;
	color: #FFF;
	outline: none;
}
.divLogin{
	float: left;
	width: 100%;
	height: 30%;
	position: static;
}
.divCadastro{
	float: left;
	width: 100%;
	height: 30%;
	position: static;
}
.botaoLogin{
	-webkit-appearance: none;
	border-radius: 8px;
	border: 4px solid #606062;
	background-color: #606062;
	font-weight: bold;
	color: #FFF;
	cursor:pointer;
	font-size: 3.5rem;
	width:45%;
	outline: none;
}
.botaoCadastro{
	-webkit-appearance: none;
	border-radius: 8px;
	border: 4px solid red;
	background-color: red;
	font-weight: bold;
	color: #FFF;
	cursor:pointer;
	width:90%;
	outline: none;
	font-size: 5rem;
	text-decoration:none;
}
.mantermeConectado{
	font-size: 4rem;
	color: #FFF;
	cursor: pointer;
}
.divManter{
	overflow: hidden;
	background-color: #A9A9A9;
	width: 40%;
	border-radius:1.1%;
	text-align: center;
  	-webkit-transition: background-color 1s ease-out;
  	-moz-transition: background-color 1s ease-out;
    -ms-transition: background-color 1s ease-out;
  	-o-transition: background-color 1s ease-out;
  	transition: background-color 1s ease-out;
	margin:0px;
	padding:0px;
	border: 0px;
}
.divBotaoConectado{
	width: 100%;
	height: 40%;
	display: none;
	margin:0px;
	padding:0px;
	border: 0px;
	font-family: "Arial Black";
	text-align: center;
	font-weight: bold;
	font-size: 0px;
	color: #228B22;
	cursor:pointer;
    transition: font-size 500ms ease;		
    -moz-transition: font-size 500ms ease;
    -ms-transition: font-size 500ms ease;
    -o-transition: font-size 500ms ease;
    -webkit-transition: font-size 500ms ease;
}
.divBotaoDesconectado{
	width: 100%;
	height: 40%;
	margin:0px;
	padding:0px;
	border: 0px;
	font-family: "Arial Black";
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
	color: #778899;
	cursor:pointer;
    transition: font-size 500ms ease;	
    -moz-transition: font-size 500ms ease;
    -ms-transition: font-size 500ms ease;
    -o-transition: font-size 500ms ease;
    -webkit-transition: font-size 500ms ease;
}
.camposCadastro{
	font-size: 4rem;
	width: 100%;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid #FFF;
	background-color: #FDB92E;
	color: #FFF;
	outline: none;
}
.labelCadastro{
	font-size: 4rem;
	width: 100%;
	border:0px;
	background-color: #FDB92E;
	color: #FFF;
	outline: none;
	vertical-align: bottom;
	display: none;
}
.valorLabelCadastro{
	border-bottom: 1px solid #FFF;
}